.container {
	width: 100%;
	height: 100%;
	z-index: 1;
}
.fullSize {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	width: 100%;
	height: 100%;
}

.navbar {
	position: absolute;
	bottom: 50px;
	min-width: 1380px;
	min-height: 300px;
	left: 50%;
	margin-left: -715px;
}
.NavImg {
	margin-left: 50px;
}

.NavImg:hover {
	cursor: pointer;
}

@keyframes fadeIn {
	0% {
		opacity: 0; /*初始状态 透明度为0*/
	}
	50% {
		opacity: 0; /*中间状态 透明度为0*/
	}
	100% {
		opacity: 1; /*结尾状态 透明度为1*/
	}
}

.NavImg2 {
	-webkit-filter: opacity(0);
	-moz-filter: opacity(0);
	-ms-filter: opacity(0);
	-o-filter: opacity(0);
	

	/*filter: gray;*/
	margin-left: 50px;
}

.NavImg2:hover {
	cursor: pointer;
	-webkit-filter: opacity(1);
	-moz-filter: opacity(1);
	-ms-filter: opacity(1);
	-o-filter: opacity(1);
	filter: opacity(1);
	/*transform: opacity(1);
	transition-duration: 3s;*/
	/*animation-name: fadeIn; 
	animation-duration: 3s; 
	animation-iteration-count: 1; 
	animation-delay: 0s;*/
	/*filter: opacity(0);*/
}

.NavImg2,NavImg2:hover{

transition:filter 0.3s ease,left 0.3s ease-in-out;

}
